.menu {
    margin-top: 90px;
}

.menu-title {
    font-size: 54px;
}

.menu-line {
    background-color: #FE8C01;
    height: 7px;
    width: 220px;
    margin: 0 auto;
    border-radius: 5px;
}

.menu_inner {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.list-menu .container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 286px;
    gap: 20px;
    position: relative;
}

.button-all {
    background: #ceeff7;
    border-radius: 100px;
    border: none;
    padding: 20px 70px;
    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    margin-top: 50px;
    cursor: pointer;
}